.application {
  background-color: $blue-dark;
  background-image: url("../img/mobile-main-background.png");
  background-repeat: no-repeat;
  background-position: center top;
  color: $white;
  font-family: 'Lora';
  font-size: 28px;
  line-height: 36px;
  padding-bottom: 26px;
  padding-top: 40px;
  padding-left: 0;

  @media (min-width: $tablets) {
    padding-bottom: 86px;
    padding-top: 114px;
    // padding-left: 45px;
    background-image: url("../img/background-tablet.jpg");
  }

  @media (min-width: $desktops) {
    margin-left: 0;
    padding-right: 0;
    padding-bottom: 82px;
    padding-top: 140px;
    background-image: url("../img/background-desktop.jpg");
    background-size: 2560px auto;
  }

  @media (min-width: 2560px) {
    background-size: cover;
  }
}

.application-points {
  @include container;
  @media (min-width: $tablets) {
    display: flex;
    justify-content: flex-start;
    font-family: Open Sans;
    font-size: 16px;
    line-height: 24px;
    list-style-type: none;
    margin-top: 0;
    padding-left: 76px;
    margin-bottom: 20px;
    padding-top: 17px;
  }

  @media (min-width: $desktops) {
    justify-content: flex-start;
    padding-left: 30px;
    margin-bottom: 24px;
    padding-top: 0;
  }
}

.application-points__item {
  &::before {
    content: "";
    position: relative;
    display: block;
    background-image: url("../img/check.png");
    background-repeat: no-repeat;
    height: 22px;
    width: 23px;
    top: 20px;
    right: 30px;
  }

  @media (min-width: $tablets) {
    padding-right: 70px;
  }

  @media (min-width: $desktops) {
    padding-right: 89px;
  }

  &::before {
    content: "";
    position: relative;
    display: block;
    background-image: url("../img/check.png");
    background-repeat: no-repeat;
    height: 22px;
    width: 23px;
    top: 22px;
    right: 30px;
  }

  &::after {
    content: "";
    position: relative;
    display: block;
    background-image: url("../img/arrow-right.png");
    background-repeat: no-repeat;
    height: 12px;
    width: 8px;
    bottom: 17px;
    right: 50px;
  }
}

.application-points--one {
  &::after {
    position: relative;
    display: none;
    background-image: url("../img/arrow-right.png");
    background-repeat: no-repeat;
    height: 12px;
    width: 8px;
    bottom: 17px;
    right: 50px;
  }
}

.application__text {
  @media (min-width: $tablets) {
    margin: 0;
  }
}

.semi-hidden {
  @media (max-width: $phones-max) {
    display: none;
  }
}
